* { box-sizing: border-box; }

.topmenu {
	background-color: #F1F1F1;
	width: 100%;
}

	
.sidemenu {
	width: 25%;
	background-color: #FBD2D7;
	padding: 10px;
}

.bodycontent {
	width: 65%;
	background-color: #F1F1F1;
	padding: 10px;
}
