.body {
  font-family: Verdana, Geneva, sans-serif;
  #for some reason I can't get this ^ to set the font for the page..
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: lightgray;
  width: 100%;
}

.navigation a {
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  #background-color: darkgray;
  text-align: center;
  width: 200px;
}

.l-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.l-sidebar {
  font-family: Verdana, Geneva, sans-serif;
  #background-color: lightcoral;
  flex: 1 1 200px;
  margin: 0em;
  padding: 1em;
}

.l-content {
  font-family: Verdana, Geneva, sans-serif;
  #background-color: palegoldenrod;
  flex: 10 1 400px;
  margin: 0em;
  padding: 1em;
}
