body {
  background-color: #F4F4F4;
  color: #33322D;
  margin-top: 1em;
}


h1 {
  font-weight: 400;
  font-size: 1.3em;
  color: #FF707A;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-weight: 300;
  font-size: 1.3em;
  color: #FF707A;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-weight: 400;
  font-size: 1.1em;
  margin-top: 1.7em;
  margin-bottom: 1.1em;
}

p {
  font-weight: 200;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

a {
  color: #33322D;
  text-decoration: none;
  border-bottom: 1px dashed #33322D;
}

a:hover {
  border-bottom: 1px solid #33322D;
  background-color: #FF707A;
}


.layout {
  margin: auto;
  margin-top: 0px;
  max-width: 750px;
  font-family: 'Work Sans', sans-serif;
}

.name, .content, .nav {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.name {
  text-align: center;
}

.nav {
  
}

.menu-list {
    border-top: 1px solid #FF707A;
}

.menu-list-item {
    border-top: 0px;
    border-left: 1px solid #FF707A;
    border-right: 1px solid #FF707A;
    border-bottom: 1px solid #FF707A;
    background-color: none;
    display: block;
    text-align: center;
}

.menu-list-item a {
    font-weight: 400;
    text-align: center;
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    width: 100%;
    border-bottom: 0px;
}

.menu-list-item a {
    border-bottom: 0px;

}


.nav .current-page-nav {
    background-color: #FAFFFF;
}

.content {
  min-height: 15em;
}

.main-text {
  text-align: left;
}

.page-menu {
  text-align: center;
}

.title-link {
    border-bottom: 1px solid #FF707A;
}

.title-link a{
  border: 0px;
}

.title-link a:hover{
  background-color: transparent;
}

.first-level li{
  margin-left: 0em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  list-style-type: none;
  list-style-position: outside;
}

.second-level li{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  list-style-type: none;
}

.second-level li::before{
  content: "\2022";
  color: #FF707A;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  margin-left: -1em;
}




@media all and (min-width: 500px) {

  body {
    margin-top: 0px;
  }

  .layout {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .name {
    order: 1;
    grid-column: 1 / 2;
    text-align: left;
  }

  h1 {
    font-size: 1.5em;
  }
  
  .nav {
    grid-column: 1 / -1;
    order: 2;
  }

  .menu-list {
    border-bottom: 1px solid #FF707A;    
    border-top: 1px solid #FF707A;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-list-item {
    display: inline-block;
    border: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .menu-list-item a {
    background-color: ##F4F4F4;
    border: 1px solid transparent;
    display: inline;
    padding: 0;
  }
  
  .menu-list-item a:hover {
    border-bottom: 1px solid #FF707A;
    color: #FF707A; 
    background-color: #F4F4F4;
  }

  .nav .current-page-nav {
      background-color: #F4F4F4;
      color: #FF707A;
   }


  .content {
    order: 3;
    grid-column: 1 / -1;
  }

  .main-text {
    text-align: justify;
  }
}

@media all and (min-width: 940px) {

  .layout {
    max-width: 1000px
  }

  .nav {
    order: 1;
  }

  .menu-list {
    border-top: 1px solid transparent;
  }

  .nav a {
    font-size: 1em;
  }

  .name {
    order: 2;
    grid-column: 1 / 2;
    margin-top: 2em;
    padding-left: 1.3em;
  }

  .content {
    grid-column: 2 / -1;
    margin-top: 2em;
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

  h1, h2 {
    font-size: 1.4em;
  }

}