html body{
  height: 100%;
  font-size: 1.2em;
/* adding this ^ to make the footer work, so that the 1fr empty row will push it down to the bottom */
}

body {
  background-color: #F4F4F4;
  color: #33322D;
  padding-top: 1em;
  border-left: calc(1.5 * 6px) solid #E95893;
  border-right: calc(1.5 * 3px) solid #E95893;
}


h1 {
  font-weight: 400;
  font-size: 1.3em;
  color: #E95893;
  margin-top: 1em;
  margin-bottom: 1em;
}



h2 {
  font-weight: 400;
  font-size: 1.1em;
  margin-top: 1.7em;
  margin-bottom: 1.1em;
}

p {
  font-weight: 200;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

a {
  color: #33322D;
  text-decoration: none;
  border-bottom: 1px dashed #33322D;
}

a:hover {
  border-bottom: 1px solid #33322D;
  background-color: #E95893;
}


.layout {
  margin: auto;
  margin-top: 0px;
  max-width: 750px;
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
}


.name, .content, .nav--site {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.name {
  text-align: center;
}

.nav--site--menu-list {
    border-top: 1.5px solid #E95893;
}

.nav--site--menu-list li {
    border-top: 0px;
    border-left: 1.5px solid #E95893;
    border-right: 1.5px solid #E95893;
    border-bottom: 1.5px solid #E95893;
    background-color: none;
    display: block;
    text-align: center;
}

.nav--site--menu-list li a {
    font-weight: 400;
    text-align: center;
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    width: 100%;
    border-bottom: 0px;
}

.nav--site--menu-list li a {
    border-bottom: 0px;

}


/* intra-page navigation menu */

.nav--page--menu-list {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav--page--menu-list li {
  padding-left: 1%;
  padding-right: 1%;
  border-right: 1.5px solid black;
}

.nav--page--menu-list li:last-of-type {
  border: none;
}

/* to style the menu link for the current page on mobile */

.nav--site .current-page-nav {
    background-color: #FAFFFF;
}





.content {
  min-height: 15em;
}

.main-text {
  text-align: left;
}

.title-link {
    border-bottom: 1.5px solid #E95893;
}

.title-link a{
  border: 0px;
}

.title-link a:hover{
  background-color: transparent;
}

.first-level li{
  margin-left: 0em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  line-height: 1.5;
  list-style-type: none;
  list-style-position: outside;
}

.second-level li, dt, dd{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  /*margin-right: 1em;*/
  line-height: 1.5;
  list-style-type: none;
}

.second-level dd{
  font-size: 0.8em;
  margin-left: 1.5em;
}

.second-level dt::before{
  content: "\2022";
  color: #E95893;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  margin-left: -1em;
}

.second-level li::before{
  content: "\2022";
  color: #E95893;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  margin-left: -1em;
}

.footer {
  font-size: 0.7em;
  padding-top: 5em;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer p {
    color: #217555;
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 1.5px dashed #E95893;
}

.footer a {
      border-bottom: none;
      color: #33322D;
}

.footer a:hover {
    color: #33322D;
}





@media all and (min-width: 500px) {

  body {
    padding-top: 0px;
    border: none;
  }

  .layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto auto 1fr auto;
  }

  .name {
    order: 1;
    grid-column: 1 / 2;
    text-align: left;
  }

  h1 {
    font-size: 1.5em;
  }
  
  .nav--site {
    grid-column: 1 / -1;
    order: 2;
  }

  .nav--site--menu-list {
    border-bottom: 1.5px solid #E95893;    
    border-top: 1.5px solid #E95893;    
/*    display: grid;
    grid-template-columns: repeat(, 1fr);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav--site--menu-list li {
    border: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .nav--site--menu-list li a {
    background-color: #F4F4F4;
    border: 1.5px solid transparent;
    display: inline;
    padding: 0;
  }
  
  .nav--site--menu-list li a:hover {
    border-bottom: 1.5px solid #E95893;
    color: #E95893; 
    background-color: #F4F4F4;
  }

  .nav--site .current-page-nav {
      background-color: #F4F4F4;
      color: #E95893;
   }


  .content {
    order: 3;
    grid-column: 1 / -1;
  }

  .main-text {
    text-align: justify;
  }

  .second-level li, dt, dd{
    text-align: justify;
    margin-left: 2em;
    margin-right: 1em;
  }

  .second-level dd {
    margin-left: 2.5em;
  }

  .footer {
    padding-top: 7em;
    order: 4;
    grid-column: 1 / -1;
    grid-row: -2 / -1;
  }
}

@media all and (min-width: 1100px) {

  .layout {
    max-width: 1200px
  }

  .nav--site {
    order: 1;
  }

  .nav--site--menu-list {
    border-top: 1.5px solid transparent;
  }

  .nav--site--menu-list li a {
    font-size: 1em;
  }

  .name {
    order: 2;
    grid-column: 1 / 2;
    margin-top: 2em;
    padding-left: 1em;
  }

  .content {
    grid-column: 2 / -1;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  .second-level li, dt, dd{
    margin-right: 0em;
  }

}