body {
  font-family: 'Work Sans', sans-serif;
  color: #184A45;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #f0f2f0;
  /*this was a bit bluer- background-color: #e9ffff;*/
}

h1 {  
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  color: #FF6F61;
  font-family: 'Work Sans', sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  color: #FF6F61;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  font-weight: 400;
  font-size: 1.1em;
  margin-top: 1.7em;
  margin-bottom: 1.1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

a {
    color: #184A45;
    text-decoration: none;
    border-bottom: 1px dashed #184A45;
}

a:hover {
  border-bottom: 1px solid #184A45;
  background-color: #FF6F61;
}


.tablet-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding:1em;
  font-size: 1.2em;
  border-bottom: 1px solid #FF6F61;
}


.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.navigation a {
    border-top: 1px solid transparent;
    border-left: 1px solid #FF6F61;
    border-right: 1px solid #FF6F61;
    border-bottom: 1px solid #FF6F61;
    background-color: #f0f2f0;
    font-weight: 400;
    display: block;
    padding: 1em;
    text-align: center;
    flex: 1 1 200px;
    margin: auto;
}

.navigation .current-page-nav {
      background-color: #C5DBCB;
}

.main-text {
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
 }

.page-menu {
  text-align: center;
}

.title-link {
    border-bottom: 1px solid #FF6F61;
}

.title-link a{
  	/*color: #FF6F61;*/
	border: 0px;
}

.title-link a:hover{
  background-color: transparent;
}

.first-level li{
  margin-left: 0em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  list-style-type: none;
  list-style-position: outside;
}

.second-level li{
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  list-style-type: none;
}

.second-level li::before{
  content: "\2022";
  color: #FF6F61;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  margin-left: -1em;
}


.l-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1em;
  width: 100%;
}

.l-sidebar {
  flex: 1 1 100%;
  margin: 0em;
  padding: 1em;
}

.l-content {
  flex: 10 1 400px;
  margin: 0em;
  padding: 1em;
}




@media all and (min-width: 501px) {
  
  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
  }
  
  .navigation a {
    background-color: #f0f2f0;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #FF6F61;
    flex: 1 1 100px;
    font-size: 90%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navigation a:hover {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #FF6F61;
    text-decoration: underline overline #FF6F61;
    color: #FF6F61;  
}
  
  .navigation .current-page-nav {
      background-color: #f0f2f0;
      /* text-decoration: underline overline #FF6F61; */
      color: #FF6F61;
   }


  .main-text {
    text-align: justify;
    padding-right: 2.5em;
    padding-left: 2.5em;
  }  
 
  .main-text-left {
    text-align: left;
    padding-right: 2.5em;
    padding-left: 2.5em;
  } 

  .main-text-center {
    text-align: center;
    padding-right: 2.5em;
    padding-left: 2.5em;
  } 

/*.l-container ul {
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-right: 2em;
  line-height: 1.5;
}*/
  .second-level {
    margin-left: 4.5em;
  }

  .l-sidebar {
    display:none;
  }

}

@media all and (min-width: 940px) {
  
.navigation a {
  flex: 1 1 200px;
  font-size: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
  
.l-sidebar {
  flex: 1 1 200px;
  padding: 1em;
  display: flex;
}

 .tablet-header {
  display:none;
}
  
  
  .main-text {
    text-align: justify;
  }  
  
 

/*.l-container ul {
  margin-left: 5em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-right: 5em;
  line-height: 1.5;
}*/

}



